<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<video id="movie" width="320" height="240" preload="none" poster="<%= @video.preview_url %>" controls>
  <source src="<%= @h264_encoding.url %>" type="video/mp4">
  <source src="<%= @ogg_encoding.url %>" type="video/ogg">
</video>

</br>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
